<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://modesta.alexflipnote.dev/css/modesta.min.css" type="text/css" rel="stylesheet">
    <title><%= pagetitle %></title>
</head>

<body>

    <section class="card-container">
        <div class="card">
            <div class="avatar">
                <img src="<%= useravatar %>">
            </div>
            <h1 class="title"><%= username %></h1>
            <p class="description"> MI : <%= userid %></p>
            <div class="footer">
                <a href="/guilds">Servidores</a>
            </div>
    </section>

</body>

</html>